Brotli
brotlicffi
certifi
cffi
chardet
charset-normalizer
contourpy
cryptography
cycler
Cython
filelock
fonttools
fsspec
idna
importlib-metadata
ipaddr
jaraco.classes
jeepney
Jinja2
keyring
kiwisolver
MarkupSafe
matplotlib
mock
more-itertools
mpmath
networkx
numpy
packaging
Pillow
pycparser
pyOpenSSL
pyparsing
python-dateutil
pytorch
PyYAML
regex
requests
safetensors
SecretStorage
simplejson
six
sympy
tokenizers
torchvision
tqdm
transformers
typing_extensions
zipp
zstandard
